@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}

.content {
  display: grid;
  max-width: 1000px;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

/* breed list */
.breed-list {
  float: left;
  min-width: 100px;
  max-width: 200px;
  max-height: 800px;
  padding: 10px 10px;
  margin: 0;
  border-bottom: 1px solid #fafafa;
  text-align: left;
  overflow: scroll;
}
.breed-list:hover {
  box-shadow: 1px 0 0 rgba(0,0,0,0.1);
}
.breed-list h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.breed-list a{
  text-decoration: none;
}
.breed {
  cursor: pointer;
}
.breed:hover {
  background-color: #eee2e5;
}

/* gallery */
.dog-gallery {
  float: right;
  max-width: 800px;
  max-height: 800px;
  padding: 10px 10px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  overflow: scroll;

  /* grid */
  /* display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-auto-rows: 250px; */

  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  -moz-column-count: 4;
  -moz-column-gap: 0px;
  column-count: 4;
  column-gap: 0px;  
}
.dog-gallery img {
  /* width: 90%;
  height: 90%; */
  width: 100% !important;
  height: auto !important;
}
